:root {
    --rosa_princ: #FFC78D;
    --rosa1: #FFECD8;
    --rosa2: #FFD9B3;
    --rosa3: #EFAA64;
    --rosa4: #CD853C;
    --bege_princ: #FFD38D;
    --bege1: #FFF0D8;
    --bege2: #FFE1B3;
    --bege3: #EFB964;
    --bege4: #CD943C;
}